# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always normalize and convert to native line endings on checkout.
*.c text
*.h text
*.cpp text
*.hpp text
*.html text
*.css text
*.js text
*.jsx text
*.ts text
*.tsx text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.pdf binary
